.DS_Store
# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
service-catalog/apiserver-key.pem
service-catalog/apiserver.csr
service-catalog/apiserver.pem
service-catalog/ca-key.pem
service-catalog/ca.csr
service-catalog/ca.pem
service-catalog/server-ca-config.json
service-catalog/svc-cat-ca.json

repo

darwin-amd64
linux-amd64
helm-v2.5.1-*-amd64.tar.gz*
